<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDrAmx2jK694nSDFt5YFe8AwxYxzqOB1mk</string>
	<key>GCM_SENDER_ID</key>
	<string>368283015087</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.TeploVoda.teploVoda</string>
	<key>PROJECT_ID</key>
	<string>teplo-voda</string>
	<key>STORAGE_BUCKET</key>
	<string>teplo-voda.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:368283015087:ios:b0fcbf18f7f7625c71415a</string>
</dict>
</plist>